@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

/* Navigation styling */

.icon {
    overflow: hidden;
    margin-left: 5px;
    padding: 3px;
}

.navlist {
    text-align: center;
    /* margin-left: 3px; */
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1.2px solid transparent;
    cursor: pointer;
    overflow: hidden;
}

.navlist a:hover {
    border-bottom: 2px solid black;
    padding: auto;
    border-radius: 2px;
    color: #004243;
}

.navlist a li {
    transition: all 0.3s ease 0s;
}


/* Navigation end */


/* carosel */

.carousel-size {
    height: 35rem;
}

.carousel-item img {
    object-fit: cover;
}



/* 
Text writing style css
*/


.typewriter {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 55% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% {}
  }


/* --------------------------------------------------------- */
.carousel-item h2 {
    /* color: #000; */
    display: inline-block;
    text-transform: uppercase;
   font: bold 24px/45px 'Oswald', sans-serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
    font-weight: 700;
    /* font-family: 'Oswald', sans-serif; */
}

.carousel-item p,h3 {
    /* color: #000;
    font-family: 'Oswald', sans-serif; */
    color: white; 
    text-transform: uppercase;
   font: bold 24px/45px 'Oswald', sans-serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}



/* diseases info */

.Dcolor {
    border: 1px solid black;
}

h4 {
    border-bottom: 1px solid #000;
}


/* The colour of the indicators */


/* footer */

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook {
    background: #3B5998;
    color: white;
}


/* Twitter */

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.footcol {
    background-color: #25bff7;
}

.footcol a {
    color: #000;
    text-decoration: none;
}

.footcol {
    margin-top: 7px;
}

.colors {
    font-family: 'Courier New', Courier, monospace;
    color: #000;
    text-transform: uppercase;
    font-weight: 800;
}

.colors a {
    text-decoration: none;
    color: #000;
}

.ficon {
    margin: 0 10px;
    padding: 5px;
}